<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тимофеев Александр</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

    <div class="container">
        <div class="author">Александр Тимофеев</div>
        <div class="contacts">
            <a href="https://github.com/AlTimofeevM" class="github"></a>
            <a href="https://vk.com/id194682140" class="vk"></a>
        </div>
    </div>

    <div id="particles" class="particles"></div>

    <script src="lib/particles/particles.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>